<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>the wall</h1>
    <ul>
        {{range .}}
            <li>{{.Contents}} - {{.Name}} {{ if .Website}} | <a href="{{.Website}}">{{.Website}}</a> {{end}} {{ if .Email}} | <a href="mailto:{{.Email}}">{{.Email}}</a> {{end}} </li>
        {{end}}
    </ul>
    <form action="" method="post">
        <textarea name="Contents" required></textarea>
        <input name="Name" required></input>
        <input name="Website"></input>
        <input name="Email" type="email"></input>
        <input type="submit" id="nm-submit" value="Post Message">
    </form>
</body>
</html>