.message {
  font-family: "Finger Paint", sans-serif;
  font-size: 50px;
}

body {
  background-image: url(/assets/wall.jpg);
  color: greenyellow;
}

p {
  font-size: 25px;
}

hr {
  color: green;
  background-color: green;
  height: 10px;
}

input, textarea {
  color: white;
  background-color: green;
}

input:hover, textarea:hover {
  color: black;
  background-color: greenyellow;
}

#add {
  display: grid;
  justify-items: center;
}